<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Web Lugo</title>
</head>
<body>
    <div class="container">
    <h1>Olá Mundo!!! sou Lugo</h1>
     <br/><br/>
    <img src="{{ url_for('static', filename='imagenes/Lugo_cuadrado_Mandarina.png')}}" width="400" >
    <br>
    <form action="greet" method="post"
          <p>Mi primera página WEB...mis primeros pasos</p>
          <br>
          <input type="text" name="name_input">
          <br>

    </form>
    </div>
</body>
</html>