<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Página Web Lugo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css')}}">
    </head>
    <body>
        <div class="container">
        <h1>Hola como estas!!! soy Lugo</h1>
        <img src="https://scontent.flim1-4.fna.fbcdn.net/v/t39.30808-6/316063905_1134274384123806_4401586200804283582_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE1dxDpDAVlqhgWisA0ey5tkD7YpgsjZWGQPtimCyNlYWjtXdaYHywTIMVIx9C-K3qH_LXLaxDmf2byBiQca58V&_nc_ohc=guOKmSMasYgAX-PXkrv&_nc_zt=23&_nc_ht=scontent.flim1-4.fna&oh=00_AfDFxrlYcu6lXPcKZlbGpY7N2wBpPknCLynHX8j5X3Z2vA&oe=637E4DC1" width="400" >
        <br>
        <form action="greet" method="post">
            {% for message in get_flashed_messages()%}
            <p> {{message}} </p>
            {% endfor %}

              <h1>Esta es mi página Web...mis primeros pasos</h1>
              <p>Escribeme cualquier comentario</p>
              <p>Atrevete!:</p>
              <br>
              <input type="text" name="name_input">
              <br>
              <input type="submit" value="COMENTA" id="greet">
        </form>
        </div>
    </body>
</html>