{% extends "esqueleto.html" %}
<!-- ESTO LO QUE HACE ES DARLE CONTINUIDAD A OTRA SECCION DE LA PAG WEB-->
{% block content %}
<div class="center">
    <div class="texto-sobre">
        <h1>
            <span style="color: blue;">Investigaciones realizadas:</span>
            </h1>
    </div>
    <br/>
        "ESTIMACIÓN DE PARÁMETROS GEOMÉTRICOS Y ESPECTRALES DIFERENCIADOS EN IMÁGENES DE RADAR SENTINEL-1 <br/> 
        PARA LA CLASIFICACIÓN DE USO DEL SUELO EN LA MICROCUENCA APACHETA"
        <br/>
        <br/>
        "CORREÇÃO DE VÍES EM PREVISÃO CLIMÁTICA GLOBAL POR MEIO DE FILTROS ADAPTATIVOS NO DOMÍNIO DA FREQUÊNCIA"
        <br/>
        <br/>
        <img src="https://services.meteored.com/img/article/como-se-mueven-los-oceanos-y-como-influye-esto-en-el-clima-334191-10_1280.png"
        width="580"/>
        <img src="https://pub.mdpi-res.com/remotesensing/remotesensing-12-01614/article_deploy/html/images/remotesensing-12-01614-ag-550.jpg?1589809240"
        width="545"/>

</div>
</section>

{% endblock %}