{% extends "esqueleto.html" %}
<!-- ESTO LO QUE HACE ES DARLE CONTINUIDAD A OTRA SECCION DE LA PAG WEB-->
{% block content %}
<div class="center">
    <div class="texto-sobre">
        <h1>
            Me gusta mucho el Fútbol &#x1F63B; <br/> Me encanta la ciencia en português &#129470;
            <br/>
            <span style="color: blue;">Física y Electrónica</span>
            <br/>
            😂 🤭
        </h1>
            <luz class="logo">
                <img src="https://images.squarespace-cdn.com/content/v1/53aae6d5e4b036fbbc3789ef/1503020594530-FB3N4658LRGZ85CPAHQM/curso-online-gratuito-portugues.jpg" width="400" />
            </luz>
    </div>
</div>
</section>

{% endblock %}