{% extends "esqueleto.html" %}
<!-- ESTO LO QUE HACE ES DARLE CONTINUIDAD A OTRA SECCION DE LA PAG WEB-->
{% block content %}
<div class="center">
    <div class="texto-sobre">
        <h1>
            <span style="color: blue;">Trabajos realizados:</span>
            <br/>
            - Miniestaciones con Arduino <br/>
            - En Fibra óptica <br/>
            - En Tecnología de Soldas <br/>
            - Aprendizaje de Máquinas <br/>(Inteligencia artifical) <br/>
            - Todo sobre PYTHON <br/>
        </h1>
        <br>
    </div>
</div>
</section>

{% endblock %}